reserved-word {
    color: #1f3faf;
}

number {
    color: #3f5fef;
}

label {
    color: rgba(0, 0, 0, 0.5);
}

canvas-item {
    color: black;
}

text-item {
    color: black;
}

.colored-item {
    color: black;
}

.reserved-word {
    color: #1f3faf;
}
